:root {
    --mint-green: #98FF98;
    --soft-yellow: #FFF7B1;
    --skyblue: #8CD2EE;
  }
.nav-link {
    text-decoration: none;
    display: flex;
    padding: 0.3em;
    text-align: center;
    color: black;
}
.nav-link:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header-link {
    text-decoration: none;
    display: flex;
    padding: 0.2em;
    margin-left: 0.2em;
    text-align: center;
    color: var(--mint-green);
    font-weight: bold;
    background: linear-gradient(to top, var(--mint-green),var(--soft-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer a {
    color: white;
    position: relative;
}
footer img {
    height: 100%;
}
#footerimage {
    display: flex;
    height: 6vw;
    margin-left: 20vw;
}
#footerlinks {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5vw;
    margin-bottom: 2vh;
    width: 20vw;
}
#footerlinks a {
    text-align: end;
}
#footerlinks a:hover {
    color: #98FF98;
}
#socialmedia {
    margin-left: 5vw;
    display: flex;
    width: 20vw;
}
#socialmedia a {
    margin: 3px;
}
#insta :hover {
    color: rgb(255, 119, 0);
}
#linkedin :hover {
    color: blue;
}

.menuvisible{
    opacity: 1;
    z-index: 20;
    display: flex;
}
.menunotvisible{
    opacity: 0;
    z-index: -5;
    display: none;
}


nav div {
    position: absolute;

    
}
@media screen and (min-width: 768px) {
    nav div {
        display: none;
        z-index: -1;
    }
    
}


@media screen and (max-width: 768px)  {
    #navlinks {
        position: fixed;
        top: 12vh;
        display: flex;
        width: 100vw;
        height: 88vh;
        background-color: #333;
        opacity: 0.9;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #navlinks .link1{
        color: white;
        margin: 2vw;
        font-weight: bolder;
        font-size: 1.5em;

    }
    #navlinks .link1:hover {
        color: #bfbfbf;
    }
    .nav-link{
      display: none;
    }
    nav div {
      z-index: 20;
      margin: 20px;
      font-size: larger;
      padding-top: 0.3em;
      
    }
    nav div:hover{
        opacity: 0.7;
        color: #333;
        cursor:pointer;
    }
  }
