:root {
    --mint-green: #98FF98;
    --soft-yellow: #FFF7B1;
    --skyblue: #8CD2EE;
}
/* Entfernt die Pfeile bei Chrome, Safari, Edge und Opera */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Entfernt die Pfeile bei Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#contactheadline {
    background-color: var(--skyblue);
    margin: 0px;
    padding-bottom:1vh;
    padding-top: 1vh;
    display: flex;
    color: white;
    justify-content: center;
}
#contactheadline h2 {
    background-color: var(--skyblue);
}
#iframesmap {
    width: 45vw;
    height: 40vh;
    display: flex;
    margin-left: auto;
    margin-right: 2.5vw;
    border: 2px solid #333;
}
#contactdetails {
    display: flex;
    width: 100vw;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 10vh;
    background-color: var(--skyblue);

}
#contactdetails p {
    margin: 2.5vw;
    color: #333;
}
#contactdetails p a {
    color: #333;
    font-weight: normal;
}
#onsendresponse {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 14vh;
    right: 2vw;
    width: fit-content;
    height: 10vh;
    background-color: #333;
    border-radius: 5px;
    padding: 3px;
}
#onsendresponse h1{
    font-size: medium;
    color: white;
    padding-left: 5%;
}
#onsendresponse div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    padding-left: 1%;
}
#onsendresponse button {
    background-color:#333;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 70%;
}
#onsendresponse button:hover {
    color: rgb(166, 0, 0);
}




