:root {
    --mint-green: #98FF98;
    --soft-yellow: #FFF7B1;
    --skyblue: #8CD2EE;
  }
.businesscard {
    width: 45vw;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: white;
    box-shadow: 0px 1px 0.5em rgba(0, 0, 0, 0.3);
    margin-right: 4vw;
    margin-left: auto;
}
    
#landing{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8CD2EE;
    height: 88vh;
    z-index: 10;

}
#scrolldown {
    height: 2900px;
    opacity: 0;
}
#samples {
    position: relative;
    display: flex;
    height: 200vh;
    opacity: 1;
    z-index: 10;
    background-color: white;
}

.h1textcontainer {
    margin-left: 2em;
    display: flex;
    width: 40vw;
    height: auto;
    position: absolute;

}
.h1textcontainer h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

div h1 span {
    color: #FFF7B1;
}

#circlecanvas {
    position: absolute;
    height: 163.5vh;
    bottom: auto;
    margin-bottom: 13.5vw;

    
}

#greenbackground {
    width: 100vw;
    height: 88vh;
    background-color: var(--mint-green);
    position: fixed;
    display: flex;
    z-index: 10;
    font-size: 3em;
    font-weight: bold;

}

#greenbackground div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88vh;
    padding: 5vw;
    align-items: flex-start;
}
#greenbackground div del {
    color: white;
    font-size: 0.9em;
    margin-top: 10vh;
}
#greenbackground div p {
    color: var(--soft-yellow);
    font-size: 2em;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5vw;
    margin-bottom: 20vh;
    background: linear-gradient(to top, var(--mint-green),var(--soft-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.visible {
    opacity: 1;
}
.notvisible {
    opacity: 0;
}
.visibletransition {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.notvisibletransition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#headline1visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline1notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
#headline2visible{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline2notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
#headline3visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline3notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}