:root {
    --mint-green: #98FF98;
    --soft-yellow: #FFF7B1;
    --skyblue: #8CD2EE;
  }
.businesscard {
    width: 45vw;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: white;
    box-shadow: 0px 1px 0.5em rgba(0, 0, 0, 0.3);
    margin-right: 4vw;
    margin-left: auto;
}
    
#landing{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8CD2EE;
    height: 88vh;
    z-index: 10;

}
#scrolldown {
    height: 2900px;
    opacity: 0;
}
#samples {
    opacity: 1;
    z-index: 11;
    background-color: white;
}
.samplesrelative {
    position: relative;
    display: flex;
    height: 88vh;
}
.samplesfixed {
    position: fixed;
    top: 12vh;
    display: flex;
    height: 88vh;
    width: 100vw;
    z-index: 12;
}

.h1textcontainer {
    margin-left: 2em;
    display: flex;
    width: 40vw;
    height: auto;
    position: absolute;

}
.h1textcontainer h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

div h1 span {
    color: #FFF7B1;
}

#circlecanvas {
    position: absolute;
    height: 163.5vh;
    bottom: auto;
    margin-bottom: 13.5vw;

    
}
#samplestext {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    
}
#samplestext div {
    width: 50%;
}

#samplestext div h2 {
    font-size: 2.5em;
    font-weight: bold;
    background: linear-gradient(45deg,var(--skyblue),var(--soft-yellow));
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    animation: glitch 2s infinite;    
}
#samplestext div h2::before, #samplestext div h2::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff0066, #00ccff);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
}
#samplestext div h2::before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch 1s infinite reverse;
}
#samplestext div h2::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    clip: rect(67px, 450px, 80px, 0);
    animation: glitch 1.2s infinite;
}

#greenbackground {
    width: 100vw;
    height: 88vh;
    background-color: var(--mint-green);
    position: fixed;
    display: flex;
    z-index: 10;
    font-size: 3em;
    font-weight: bold;

}

#greenbackground div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88vh;
    padding: 5vw;
    align-items: flex-start;
}
#greenbackground div del {
    color: white;
    font-size: 0.9em;
    margin-top: 10vh;
}
#greenbackground div p {
    color: var(--soft-yellow);
    font-size: 2em;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5vw;
    margin-bottom: 20vh;
    background: linear-gradient(to top, var(--mint-green),var(--soft-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#blackcanvassection {
    position: absolute;
    z-index: 11;
}
#blackcanvas {
    position: fixed;
  top: 12vh;  /* Abstand von oben */
  
  width: 100vw; /* Breite des Canvas */
  height: 100vh; /* Höhe des Canvas */
  z-index: 11; /* Stellt sicher, dass das Canvas über anderen Elementen liegt */
}

#backgroundcolorgrey {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 88vh;
    top: 12vh;
    background-color: white;
    z-index: 12;
}

#furtherscrolldown {
    width: 100vw;
    height: 3750px;
    background-color: white;
    z-index: 11;
}

#furtherscrolldown2 {
    width: 100vw;
    height: 2600px;
}
#beforecontactform {
    width: 100vw;
    margin: 0px;
    height: 25vh;
    display: flex;
    background-color: var(--skyblue);
    z-index: 13;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
}
#beforecontactform p {
    margin: 2em;
    font-size: 1.2em;
    text-align: center;
}

#contactform {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 13;
    background-color: var(--skyblue);
    width: 100vw;
    height: fit-content;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10vh;
  }

#form div {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
input[type="email"],
textarea {
  padding: 15px; /* Vergrößerte Polsterung */
  font-size: 18px; /* Größere Schriftgröße */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 60vw;

}
textarea{
    min-height: 40vh;
}

input[type="email"]:focus,
textarea:focus {
  border-color: blue; /* Mintgrün */
  outline: none;
}

input[type="submit"] {
  padding: 15px; /* Größere Polsterung für den Submit-Button */
  font-size: 18px; /* Größere Schriftgröße */
  color: #fff;
  background-color: var(--mint-green); /* Mintgrün */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #55b381; /* Dunkleres Mintgrün */
}



#contactform a:hover {
  color: var(--mint-green) /* Dunkleres Mintgrün */
}


#happyfrog {
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background-color: var(--soft-yellow);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;

}
.fixed {
    position: fixed;
    top: 12vh;
    
}
#happyfrogtext {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#happyfrogtext * {
    position: absolute;
    font-size: 1.5em;
}
#happyfrogtext h2 {
    font-size: 3em;
}




#nofrogisfast {
    position: fixed;
    display: flex;
    height: 88vh;
    width: 100vw;
    top: 12vh;
    z-index: 11;
    color: white;
    background-color: black;
    align-items: center;
    text-align: center;
}

#nofrogisfast div {
    width: 50vw;
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 5vw;
}

#nofrogisfast div h2 {
    width: 50vw;
    font-size: 2.5em; 
}

#nofrogisfast div p {
    width: 50vw;
    position: absolute;
}
#nofrogisfast div p span{
    color: var(--mint-green);
}

#nofrogisfast section {
    margin-left: auto;
    width: fit-content;
    margin-right: 5vw;
    padding: 0.4em;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    position: relative; /* Damit das ::after Pseudo-Element relativ zum Bild positioniert ist */
}
#nofrogisfast section img {
    width: 24vw;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#nofrogisfast section::after, #nofrogisfast section::before {
    content: '';  
    position: absolute;  
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), #FF0077, #FF8C00, #FFFF00, #00FF00, #00FFFF, #0000FF, #800080, #FF0077);
    padding: 0.2em;
    z-index: -1;
    border-radius: 10px;
    opacity: 0.9;
    animation: 3s spin linear infinite;
}
#nofrogisfast section::before {
    filter: blur(1.5rem);
    opacity: 1;
}






.visible {
    opacity: 1;
}
.notvisible {
    opacity: 0;
}
.visibletransition {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.notvisibletransition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#headline1visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline1notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
#headline2visible{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline2notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
#headline3visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#headline3notvisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.bg-black-false{
    display: none;
}
.bg-black-false{
    position: fixed;
    display: flex;
    height: 88%;
    top: 12%;
    width: 100%;
    background-color: black;
    z-index: 11;
}

@keyframes glitch {
    0%, 100% {
        transform: skew(0deg);
        clip: rect(44px, 450px, 56px, 0);
    }
    10% {
        transform: skew(5deg);
        clip: rect(85px, 9999px, 96px, 0);
    }
    20% {
        transform: skew(-5deg);
        clip: rect(22px, 450px, 39px, 0);
    }
    30% {
        transform: skew(5deg);
        clip: rect(15px, 9999px, 28px, 0);
    }
    40% {
        transform: skew(-5deg);
        clip: rect(67px, 450px, 80px, 0);
    }
    50% {
        transform: skew(0deg);
        clip: rect(44px, 450px, 56px, 0);
    }
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle :360deg;
    }
    
}