:root {
    --mint-green: #98FF98;
    --soft-yellow: #FFF7B1;
    --skyblue: #8CD2EE;
  }
#legalsbody {
    color: #333;
    background-color: var(--mint-green);
    width: 90vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
#legalsbody a {
    font-weight: normal;
    color:#333;
}

#bodydata {
    color: #333;
    background-color: var(--mint-green);
    width: 90vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
#bodydata ul {
    list-style: none;
}
#bodydata a {
    color: #333;
    font-weight: normal;
}

